<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="layout :: site-head">
<title>Item Management</title>
</head>
<body>

	<!-- INCLUDE LAYOUT HEADER HERE -->
	<header th:replace="layout :: site-header"></header>
	
	<!-- PAGE SPECIFIC CONTENT -->
	<div class="tab-pane fade in active" id="item-management">
	<div id="filter-row" class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<form role="form" class="form-inline" id="itemManagementForm">
					<div class="col-md-3 form-group">
						<select class="form-control">
						<option value=""> Filter Items</option>
					      	<option value="laptop">Laptop</option>
					      	<option value="desktop">Desktop</option>
					      	<option value="keyboardMouse">Keyboard and Mouse</option>
					      	<option value="keyboard">Only Keyboard</option>
					      	<option value="mouse">Only Mouse</option>
					      	<option value="mobilePhone">Mobile Phone</option>
						</select>
					</div>
				</form>
			</div>
			<div class="btn-group btn-group-xs tble-buttons col-md-3 col-sm-4">
				<a href="#addnewitem" data-toggle="modal"><button type="button" class="btn btn-sm btn-primary add-new">New Item</button></a>
			</div>
		</div>
	</div>
	<div id="table-row" class="container">
		<div class="row table-row">
			<div class="table-responsive">
  				<table class="table table-hover table-bordered">
 					<thead>
      					<tr>
						    <th>Serial Number</th>
						    <th>Genkey ID</th>
						    <th>Type</th>
						    <th>Status</th>
						    <th>Action</th>
					    </tr>
					</thead>
					    <tbody>
					      	<tr>
					        	<td>xxxxxx</td>
					        	<td>xxxxxx</td>
					        	<td>Laptop</td>
					        	<td>Working</td>

					        	<td>
									<div class="btn-group btn-group-xs tble-buttons">
									  	<a href="#viewItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">View</button></a>
									  	<a><button type="button" class="btn black-background btn-sm">Assign</button></a>
									  	<a href="#editItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Edit</button></a>
									  	<a href="#deleteItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Delete</button></a>
									</div>
					        	</td>
					      	</tr>
					      	<tr>
					        	<td>xxxxxx</td>
					        	<td>xxxxxx</td>
					        	<td>Desktop</td>
					        	<td>Working</td>
					        	<td>
									<div class="btn-group btn-group-xs tble-buttons">
									  	<a href="#viewItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">View</button></a>
									  	<a><button type="button" class="btn black-background btn-sm">Assign</button></a>
									  	<a href="#editItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Edit</button></a>
									  	<a href="#deleteItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Delete</button></a>
									</div>
					        	</td>
					      	</tr>
					      	<tr>
					        	<td>xxxxxx</td>
					        	<td>xxxxxx</td>
					        	<td>Keyboard and Mouse</td>
					        	<td>Working</td>
					        	<td>
									<div class="btn-group btn-group-xs tble-buttons">
									  	<a href="#viewItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">View</button></a>
									  	<a><button type="button" class="btn black-background btn-sm">Assign</button></a>
									  	<a href="#editItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Edit</button></a>
									  	<a href="#deleteItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Delete</button></a>
									</div>
					        	</td>					        	
					      	</tr>
					      	<tr>
					        	<td>xxxxxx</td>
					        	<td>xxxxxx</td>
					        	<td>Only Keyboard</td>
					        	<td>Working</td>
					        	<td>
									<div class="btn-group btn-group-xs tble-buttons">
									  	<a href="#viewItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">View</button></a>
									  	<a><button type="button" class="btn black-background btn-sm">Assign</button></a>
									  	<a href="#editItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Edit</button></a>
									  	<a href="#deleteItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Delete</button></a>
									</div>
					        	</td>					        	
					      	</tr>
					      	<tr>
					        	<td>xxxxxx</td>
					        	<td>xxxxxx</td>
					        	<td>Only mouse</td>
					        	<td>Working</td>
					        	<td>
									<div class="btn-group btn-group-xs tble-buttons">
									  	<a href="#viewItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">View</button></a>
									  	<a><button type="button" class="btn black-background btn-sm">Assign</button></a>
									  	<a href="#editItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Edit</button></a>
									  	<a href="#deleteItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Delete</button></a>
									</div>
					        	</td>					        	
					      	</tr>
					      	<tr>
					        	<td>xxxxxx</td>
					        	<td>xxxxxx</td>
					        	<td>Mobile Phone</td>
					        	<td>Working</td>
					        	<td>
									<div class="btn-group btn-group-xs tble-buttons">
									  	<a href="#viewItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">View</button></a>
									  	<a><button type="button" class="btn black-background btn-sm">Assign</button></a>
									  	<a href="#editItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Edit</button></a>
									  	<a href="#deleteItem" data-toggle="modal"><button type="button" class="btn black-background btn-sm">Delete</button></a>
									</div>
					        	</td>					        	
					      	</tr>
					    </tbody>
  				</table>
			</div>
		</div>
	</div>
	</div>
	<!-- INCLUDE LAYOUT FOOTER -->
	<footer th:replace="layout::site-footer"></footer>
</body>
</html>