<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Device Management</title>
<meta charset="UTF-8" />
<!-- provide the links to all static resources here : links to csss and javascript files-->

<link rel="stylesheet"
	href="../../../resources/static/css/bootstrap.min.css"
	th:href="@{../resources/static/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../resources/static/css/style.css"
	th:href="@{../resources/static/css/style.css}" />
<script src="../../../resources/static/js/jquery-3.2.1.min.js"
	th:src="@{../resources/static/js/jquery-3.2.1.min.js}"></script>
</head>
<body>

	<!-- INCLUDE LAYOUT HEADER HERE -->
	<header th:replace="layout::site-header"></header>

	<!-- PAGE SPECIFIC CONTENT -->
	<div>
		<div>
			<h4 class="text-center">ADD NEW DEVICE FORM</h4>
		</div>
		<div>
			<form role="form" class="form-horizontal" id="addnewitem"
				th:action="@{device/../new}" th:object="${newDeviceForm}"
				method="post">
				<div class="form-group">
					<label class="control-label col-sm-3 col-md-offset-1"
						for="serial_number">Serial Number</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="serial_number"
							required th:field="*{serialNumber}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3 col-md-offset-1"
						for="genkeyid">GenKey ID</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="genkeyid" required
							th:field="*{gkId}">
					</div>
				</div>

				<!-- YET TO WORK ON THIS -->
				<div class="form-group"
					th:if="${deviceTypeList != null and not #lists.isEmpty(deviceTypeList)}">
					<label class="control-label col-sm-3 col-md-offset-1">Device
						Type</label>
					<div class="col-sm-6">
						<select onchange="isLaptop(this);" class="form-control"
							th:field="*{type}">
							<option th:each="deviceType : ${deviceTypeList}"
								th:value="${deviceType.key}" th:text="${deviceType.type}"></option>
						</select>
					</div>
					<!-- <div class="col-sm-6">
						<select onchange="isLaptop(this);" class="form-control" required>
							<option value="">Select</option>
							<option value="laptop">Laptop</option>
							<option value="desktop">Desktop</option>
							<option value="keyboardMouse">Keyboard and Mouse</option>
							<option value="keyboard">Only Keyboard</option>
							<option value="mouse">Only Mouse</option>
							<option value="mobilePhone">Mobile Phone</option>
						</select>
					</div>-->
				</div>

				<!-- LAPTOP SPECIFIC PROPERTIES -->
				<div class="form-group" id="cpu" style="display: none">
					<label class="control-label col-sm-3 col-md-offset-1" for="cpu">CPU</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="cpu" th:field="*{cpu}">
					</div>
				</div>
				<div class="form-group" id="ram" style="display: none">
					<label class="control-label col-sm-3 col-md-offset-1" for="ram">RAM(MB)</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="ram" th:field="*{ram}">
					</div>
				</div>
				<div class="form-group" id="hdd" style="display: none">
					<label class="control-label col-sm-3 col-md-offset-1" for="hdd">HDD(GB)</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="hdd" th:field="*{hdd}">
					</div>
				</div>
				<div class="form-group" id="os" style="display: none">
					<label class="control-label col-sm-3 col-md-offset-1" for="os">OS</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="os" th:field="*{os}">
					</div>
				</div>
				<script>
					function isLaptop(optionSelected) {
						if (optionSelected.value == "1") {
							document.getElementById("cpu").style.display = "block";
							document.getElementById("ram").style.display = "block";
							document.getElementById("hdd").style.display = "block";
							document.getElementById("os").style.display = "block";
						} else {
							document.getElementById("cpu").style.display = "none";
							document.getElementById("ram").style.display = "none";
							document.getElementById("hdd").style.display = "none";
							document.getElementById("os").style.display = "none";
						}
					}
				</script>

				<!-- YET TO WORK ON THIS PART -->
				<div class="form-group">
					<label class="control-label col-sm-3 col-md-offset-1">Status</label>
					<div class="col-sm-6">
						<select onchange="isDefective(this);" class="form-control"
							th:field="*{status}">
							<option th:each="status : ${deviceStatusList}"
								th:value="${status.key}" th:text="${status.status}"></option>
						</select>
					</div>
					<!-- <div class="col-sm-6">
						<select onchange="isDefective(this);" class="form-control"
							required>
							<option value="">Select</option>
							<option value="working">Working</option>
							<option value="defective">Defective</option>
						</select>
					</div>-->
				</div>

				<!-- SPECIFIC WITH DEVICES WITH DEFECT -->
				<div class="form-group" id="defectiveDescription"
					style="display: none;">
					<label class="control-label col-sm-4" for="defectiveDescription">Defect
						Description</label>
					<div class="col-sm-6">
						<textarea rows="5" class="form-control" id="defectiveDescription"
							th:field="*{defectDescription}">
					  				
					  			</textarea>
					</div>
				</div>
				<script>
					function isDefective(optionSelected) {
						if (optionSelected.value == "2") {
							document.getElementById("defectiveDescription").style.display = "block";
						} else {
							document.getElementById("defectiveDescription").style.display = "none";
						}
					}
				</script>

				<!-- GENERAL DEVICE PROPERTIES -->
				<div class="form-group">
					<label class="control-label col-sm-3 col-md-offset-1"
						for="manufacturer">Manufacturer</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="manufacturer"
							th:field="*{manufacturer}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3 col-md-offset-1" for="model">Model</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="model"
							th:field="*{model}">
					</div>
				</div>
				<div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div>
					<input type="submit" class="btn btn-primary" form="addnewitem"
						value="Add"> <a href="devicemanagement.html"
						th:href="@{/device}"><button type="button"
							class="btn btn-danger">Cancel</button></a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>