<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employee Management</title>
<meta charset="UTF-8"/>
	<!-- provide the links to all static resources here : links to csss and javascript files-->

	<link rel="stylesheet" href="../../../resources/static/css/bootstrap.min.css" th:href="@{../resources/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../../../resources/static/css/style.css" th:href="@{../resources/static/css/style.css}"/>
	<script src="../../../resources/static/js/jquery-3.2.1.min.js" th:src="@{../resources/static/js/jquery-3.2.1.min.js}"></script>
</head>
<body>

	<!-- INCLUDE LAYOUT HEADER HERE -->
	<header th:replace="layout::site-header"></header>

	<!-- PAGE SPECIFIC CONTENT -->
	<div>
		<div>
			<h4 class="text-center">ADD NEW EMPLOYEE FORM</h4>
		</div>
		<div>
		<form role="form" class="form-horizontal" id="addnewemployee"
				method="post" th:action="@{/employee/new}"
				th:object="${newEmployee}">
				<div class="form-group">
					<label
						class="control-label col-sm-2 col-md-offset-1 col-sm-offset-1"
						for="firstname">First name</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="firstname" required
							th:field="*{firstname}">
					</div>
				</div>
				<div class="form-group">
					<label
						class="control-label col-sm-2 col-md-offset-1 col-sm-offset-1"
						for="lastname">Last name</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="lastname" required
							th:field="*{lastname}">
					</div>
				</div>
				<div class="form-group">
					<label
						class="control-label col-sm-2 col-md-offset-1 col-sm-offset-1"
						for="email">Email</label>
					<div class="col-sm-6">
						<input type="email" class="form-control" id="email" required
							th:field="*{email}">
					</div>
				</div>
				
				<!-- DEPARTMENT LIST IS GENERATED DYNAMICALLY: THIS DIV TAG SHOWS ONLY WHEN THERE ARE DEPARTMENT IN THE DATABASE-->
				<div class="form-group" th:if="${departmentList != null and not #lists.isEmpty(departmentList)}">
					<label
						class="control-label col-sm-2 col-md-offset-1 col-sm-offset-1">Department</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{department}">
							<option th:each="department : ${departmentList}" th:value="${department.key}"  th:text="${department.name}"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label
						class="control-label col-sm-2 col-md-offset-1 col-sm-offset-1"
						for="employee_id">Employee ID</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="employee_id" required
							th:field="*{gkEmployeeId}">
						<div><span></span></div>
					</div>
				</div>
				
				<!-- CHECK ON HOW TO BIND THE FORM DATA TO FORM OBJECT -->
				<div class="form-group">
					<label
						class="control-label col-sm-2 col-md-offset-1 col-sm-offset-1">Permission</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{permission}">
							<option th:each="permission:${permissionList}" th:value="${permission.key}" th:text="${permission.permission}"></option>
						</select>
					</div>
					<div><span></span></div>
				</div>
			</form>
		</div>
		<div>
			<input type="submit" class="btn btn-primary" form="addnewemployee"
				value="Add">
				<a href="employeemanagement.html" th:href="@{/employee}"><button type="button" class="btn btn-danger">Cancel</button></a>
		</div>
	</div>
	<!-- INCLUDE LAYOUT FOOTER -->
	<footer th:replace="layout::site-footer"></footer>
</body>
</html>