<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<title>Employee Management</title>
<meta charset="UTF-8" />
<!-- provide the links to all static resources here : links to csss and javascript files-->

<link rel="stylesheet"
	href="../../../resources/static/css/bootstrap.min.css"
	th:href="@{../../../resources/static/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../resources/static/css/style.css"
	th:href="@{../../../resources/static/css/style.css}" />
<script src="../../../resources/static/js/jquery-3.2.1.min.js"
	th:src="@{../../../resources/static/js/jquery-3.2.1.min.js}"></script>
</head>
<body>

	<!-- INCLUDE LAYOUT HEADER HERE -->
	<header th:replace="layout::site-header"></header>

	<!-- PAGE SPECIFIC CONTENT -->
	<div>
		<div>
			<h4 class="text-center">EDITING DEVICE</h4>
		</div>
		<div>
			<form role="form" class="form-horizontal" method="post" id="editdevice"
				th:action="@{/device/edit}" th:object="${newDeviceForm}">
				<div class="form-group">
					<label class="control-label col-sm-3 col-md-offset-1"
						for="serialNumber">Serial Number</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="serialNumber" readonly
							th:field="*{serialNumber}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3 col-md-offset-1" for="gkId">Genkey
						ID</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="gkId"
							th:field="*{gkId}">
					</div>
				</div>
				<div class="form-group"
					th:if="${deviceTypeList != null and not #lists.isEmpty(deviceTypeList)}">
					<label class="control-label col-sm-3 col-md-offset-1">Device
						Type</label>
					<div class="col-sm-6">
						<select class="form-control" name="type" id="type">
							<option th:each="deviceType : ${deviceTypeList}"
								th:value="${deviceType.key}" th:text="${deviceType.type}"
								th:selected="${deviceType.key==selectedType.key}"></option>
						</select>
					</div>
				</div>

				<!-- LAPTOP SPECIFIC PROPERTIES -->
				<div class="form-group" id="cpu" th:if="${selectedType.key==1}">
					<label class="control-label col-sm-3 col-md-offset-1" for="cpu">CPU</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="cpu" th:value="${newDeviceForm.cpu}"
							>
					</div>
				</div>
				<div class="form-group" th:if="${selectedType.key==1}">
					<label class="control-label col-sm-3 col-md-offset-1" for="ram">RAM(MB)</label>
					<div class="col-sm-6">
						<input type="text" class="form-control"
							th:field="*{ram}">
					</div>
				</div>
				<div class="form-group" th:if="${selectedType.key==1}">
					<label class="control-label col-sm-3 col-md-offset-1" for="hdd">HDD(GB)</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="hdd"
							th:field="*{hdd}">
					</div>
				</div>
				<div class="form-group" th:if="${selectedType.key==1}">
					<label class="control-label col-sm-3 col-md-offset-1" for="os">OS</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" th:field="*{os}">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3 col-md-offset-1">Status</label>
					<div class="col-sm-6">
						<select class="form-control" name="status" id="status">
							<option th:each="status : ${deviceStatusList}"
								th:value="${status.key}" th:text="${status.status}" th:selected="${status.key == selectedStatus.key}"></option>
						</select>
					</div>
				</div>
				<div class="form-group" id="defectiveDes" th:if="${selectedStatus.key==2}">
					<label class="control-label col-sm-4" for="defectiveDes">Defect
						Description</label>
					<div class="col-sm-6">
						<textarea rows="5" class="form-control" id="defectiveDescription" th:text="*{defectDescription}">
					  				
					  			</textarea>
					</div>
				</div>
				
				
				<div class="form-group">
					<label class="control-label col-sm-3 col-md-offset-1" for="manufacturer">Manufacture</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="manufacturer" readonly th:field="*{manufacturer}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3 col-md-offset-1" for="model">Model</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="model" readonly
							th:field="*{model}">
					</div>
				</div>
			</form>
		</div>
		<div>
			<input type="submit" class="btn btn-primary" form="editdevice"
				value="Save">
				<a href="devicemanagement.html" th:href="@{/device}"><button type="button" class="btn btn-danger">Cancel</button></a>
		</div>
	</div>
	<!-- INCLUDE LAYOUT FOOTER -->
	<footer th:replace="layout::site-footer"></footer>
</body>
</html>