<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="layout::site-head">
<title>EDITING EMPLOYEE</title>
</head>
<body>

	<!-- INCLUDE LAYOUT HEADER HERE -->
	<header th:replace="layout::site-header"></header>

	<!-- PAGE SPECIFIC CONTENT -->

	<div>
		<div>
			<h4 class="text-center">EDIT EMPLOYEE FORM</h4>
		</div>
		<div>
			<form role="form" class="form-horizontal" id="editemployee"
				method="post" th:action="@{employee/edit}"
				th:object="#{employeeForm}">
				<div class="form-group">
					<label
						class="control-label col-sm-3 col-md-offset-1 col-sm-offset-1"
						for="firstname">First name</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="firstname"
							th:field="*{firstName}">
					</div>
				</div>
				<div class="form-group">
					<label
						class="control-label col-sm-3 col-md-offset-1 col-sm-offset-1"
						for="lastname">Last name</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="lastname"
							th:field="*{lastName}">
					</div>
				</div>
				<div class="form-group">
					<label
						class="control-label col-sm-3 col-md-offset-1 col-sm-offset-1"
						for="email">Email</label>
					<div class="col-sm-6">
						<input type="Email" class="form-control" id="email"
							th:field="*{email}">
					</div>
				</div>
				<div class="form-group">
					<label
						class="control-label col-sm-3 col-md-offset-1 col-sm-offset-1">Department</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{department}">
							<option value="">Select</option>
							<option value="administration">Administration</option>
							<option value="developers">Developers</option>
							<option value="operationsSupport">Operations and Support</option>
							<option value="qa">Quality Assurance</option>
							<option value="logisticsTranport">Logistics and
								Transport</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label
						class="control-label col-sm-3 col-md-offset-1 col-sm-offset-1"
						for="gkEmployeeId">Employee ID</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="gkEmployeeId"
							th:field="*{gkEmployeeId}">
					</div>
				</div>
				<div class="form-group">
					<label
						class="control-label col-sm-3 col-md-offset-1 col-sm-offset-1">Permission</label>
					<div class="col-sm-6">
					
					 	<!-- DISABLED BECAUSE AN ENPLOYEE PERMISSION CANNNOT TO CHANGED HERE -->
						<select class="form-control" disabled th:field="*{permission}">
							<option value="">Select</option>
							<option value="user">User</option>
							<option value="notUser">Not User</option>
						</select>
					</div>
				</div>
			</form>
		</div>
		<div>
			<input type="submit" class="btn btn-primary" form="editemployee"
				value="Add"> <a href="employeemanagement.html"
				th:href="@{/employee}"><button type="button"
					class="btn btn-danger">Cancel</button></a>
		</div>
	</div>
	<!-- INCLUDE LAYOUT FOOTER -->
	<footer th:replace="layout::site-footer"></footer>
</body>
</html>