<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head>
<title>User Profile</title>
<meta charset="UTF-8"/>
	<!-- provide the links to all static resources here : links to csss and javascript files-->

	<link rel="stylesheet" href="../../../resources/static/css/bootstrap.min.css" th:href="@{../resources/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../../../resources/static/css/style.css" th:href="@{../resources/static/css/style.css}"/>
	<script src="../../../resources/static/js/jquery-3.2.1.min.js" th:src="@{../resources/static/js/jquery-3.2.1.min.js}"></script>
</head>
<body>

	<!-- INCLUDE LAYOUT HEADER HERE -->
	<header th:replace="layout::site-header"></header>

	<!-- PAGE SPECIFIC CONTENT -->
	<div class="tab-pane fade" id="user-profile-management">
		<div id="filter-row" class="container filter-row">
			<div class="row">
				<div
					class="btn-group btn-group-xs tble-buttons col-md-4 col-sm-2 col-md-offset-8">
					<a href="editemployee.html" th:href="@{/employee/edit/{employeeId}(employeeId=${employee.gkEmployeeId})}"><button type="button"
							class="btn btn-sm btn-primary add-new">Edit Profile</button></a>
				</div>
			</div>
		</div>
		<div id="table-row" class="container">
			<div>
				<h5>USER PROFILE</h5>
			</div>
			<div class="row table-row">
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<tbody>
							<tr>
								<td>First Name</td>
								<td th:text="${employee.getFirstName()}"></td>
							</tr>
							<tr>
								<td>Last Name</td>
								<td th:text="${employee.lastName}"></td>
							</tr>
							<tr>
								<td>Email Address</td>
								<td th:text="${employee.emailAdress}"></td>
							</tr>
							<tr>
								<td>Employee ID</td>
								<td th:text="${employee.gkEmployeeId}"></td>
							</tr>
							<tr>
								<td>Department:</td>
								<td th:text="${employee.department}"></td>
							</tr>
							<tr>
								<td>Permission:</td>
								<td th:text="${employee.permission}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- INCLUDE LAYOUT FOOTER -->
	<footer th:replace="layout::site-footer"></footer>
</body>
</html>