<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Employee Management</title>
<meta charset="UTF-8" />
<!-- provide the links to all static resources here : links to csss and javascript files-->

<link rel="stylesheet"
	href="../../../resources/static/css/bootstrap.min.css"
	th:href="@{../../resources/static/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../resources/static/css/style.css"
	th:href="@{../../resources/static/css/style.css}" />
<script src="../../../resources/static/js/jquery-3.2.1.min.js"
	th:src="@{../../resources/static/js/jquery-3.2.1.min.js}"></script>
</head>
<body>

	<!-- INCLUDE LAYOUT HEADER HERE -->
	<header th:replace="layout::site-header"></header>

	<!-- PAGE SPECIFIC CONTENT -->
	<div class="container">
		<div>
			<h4 class="text-center">EMPLOYEE PROFILE</h4>
		</div>
		<div>
			<table class="table table-hover table-bordered">
				<tbody>
					<tr>
						<td>First name</td>
						<td th:text="${employee.firstName}"></td>
					</tr>
					<tr>
						<td>Last name</td>
						<td th:text="${employee.lastName}"></td>
					</tr>
					<tr>
						<td>Email Address</td>
						<td th:text="${employee.emailAdress}"></td>
					</tr>
					<tr>
						<td>Employee ID:</td>
						<td th:text="${employee.gkEmployeeId}"></td>
					</tr>

					<tr>
						<td>Department</td>
						<td th:text="${employee.department.name}"></td>
					</tr>
					<tr>
						<td>Permission:</td>
						<td th:text="${employee.permission.permission}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<hr>
			<h5>Assigned Items</h5>
			<table class="table table-hover">
				<tbody>
				<thead>
					<tr>
						<td>Type</td>
						<td>Genkey ID</td>
						<td>Action</td>
					</tr>
				</thead>
				<tr th:each="device: ${employee.assignedDevices}">
					<td th:text="device.type"></td>
					<td th:text="device.gkId"></td>
					<td><a href="#"
						th:href="@{device/unassign/{deviceType}/{gkId}(deviceType=${device.type},gkId=${device.gkId})}"><button
								class="btn btn-danger btn-sm">Unassign</button></a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- INCLUDE LAYOUT FOOTER -->
	<footer th:replace="layout::site-footer"></footer>
</body>
</html>