<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="layout::site-head">
<title>EMPLOYEE MANAGEMENT</title>
</head>
<body>

	<!-- INCLUDE LAYOUT HEADER HERE -->
	<header th:replace="layout::site-header"></header>

	<!-- PAGE SPECIFIC CONTENT -->
	<div class="container">
		<div>
			<h4 class="text-center">EMPLOYEE PROFILE</h4>
		</div>
		<div>
			<table class="table table-hover table-bordered">
				<tbody>
					<tr>
						<td>First name</td>
						<td th:text="${employee.firstName}"></td>
					</tr>
					<tr>
						<td>Last name</td>
						<td th:text="${employee.lastName}"></td>
					</tr>
					<tr>
						<td>Email Address</td>
						<td th:text="${employee.email}"></td>
					</tr>
					<tr>
						<td>Employee ID:</td>
						<td th:text="${employee.gkEmployeeId}"></td>
					</tr>

					<tr>
						<td>Department</td>
						<td th:text="${employee.department}"></td>
					</tr>
					<tr>
						<td>Permission:</td>
						<td th:text="${employee.permision}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:if="${not #lists.isEmpty(employee.assignedDevice))}">
			<hr>
			<h5>Assigned Items</h5>
			<table class="table table-hover">
				<tbody>
				<thead>
					<tr>
						<td>Type</td>
						<td>Genkey ID</td>
						<td>Action</td>
					</tr>
				</thead>
				<tr th:each="device: ${employee.assignedDevices}">
					<td th:text="device.type"></td>
					<td th:text="device.gkId"></td>
					<td><a href="#"
						th:href="@{device/unassign/{deviceType}/{gkId}(deviceType=${device.type},gkId=${device.gkId})}"><button
								class="btn btn-danger btn-sm">Unassign</button></a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- INCLUDE LAYOUT FOOTER -->
	<footer th:replace="layout::site-footer"></footer>
</body>
</html>